[Unit]
Description=Remotely Forward Ports On Boot

[Service]
Type=simple
User=hex
ExecStart=/usr/bin/forward-ports.sh
Restart=on-failure
RestartSec=300

[Install]
WantedBy=multi-user.target
